<md-toolbar layout="row" layout-align="start center" class="toolbar">
    <div flex="15" hide-gt-md>
        <md-button aria-label="left sidenav toggle button" ng-click="toggleLeft()" class="menu-btn"><img src="../images/menu.png" width="32" height="30" ></md-button>
    </div>
    <div flex="70" flex-md="50" >
        <h1 class="md-toolbar-tools">Business Intelligence</h1>
    </div>
</md-toolbar>

<div layout-margin flex="100">
    <div id="middle-cards-container" >
        <div layout="row" layout-sm="column" >

            <md-card  flex>
                <div id="nebraska-spline" flex="100"></div>
            </md-card>
            <md-card  flex>
                <div id="alaska-spline" flex="100"></div>
            </md-card>
        </div>

        <div  layout="row" layout-sm="column">
            <md-card  flex  >
                <div id="oil-delivered-pie" flex="100"></div>

            </md-card>
            <md-card   flex>
                <div id="oil-supplied-pie" flex="100"></div>
            </md-card>
        </div>
        <div  layout="row" layout-sm="column">
            <md-card " flex  >
                <div id="trailer-tracking-column" flex="100"></div>
            </md-card>
        </div>
    </div>
</div>